/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

small,
p,
label,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ebeff2;
}

.irs-bar,
.irs-to,
.irs-from,
.irs-single {
	background: #71b6f9 !important;
}

.irs-to::before,
.irs-from::before,
.irs-single::before {
	border-top-color: #71b6f9 !important;
}
