/** @format */

.display-settings {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.display-settings .left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.display-settings .right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.display-settings .center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sort-by,
.show-n {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.sort-by label {
	min-width: 4rem;
}

.show-n label {
	min-width: 4rem;
}

.show-n select {
	min-width: 5rem;
}

@media screen and (max-width: 992px) {
	.display-settings {
		flex-wrap: wrap;
		gap: 2rem;
	}

	.center {
		order: 3;
		width: 100%;
		justify-content: center;
	}
	.right {
		order: 2;
	}
}

@media screen and (max-width: 576px) {
	.right {
		gap: 0.5rem;
		justify-content: flex-start !important;
		align-items: center;
		flex-wrap: wrap;
	}
}
