/** @format */

.irs-bar,
.irs-to,
.irs-from,
.irs-single {
	background: #71b6f9 !important;
}

.irs-to::before,
.irs-from::before,
.irs-single::before {
	border-top-color: #71b6f9 !important;
}

.session-form {
	max-height: 60vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
