/** @format */

.resources-inputs {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.resource-input-wrapper {
	width: 8rem;
}

@media screen and (max-width: 992px) {
	#session-form-modal .modal-content {
		width: 90vw !important;
		margin: 0 !important;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
