/** @format */

.session-card {
	width: 23rem !important;
	min-width: 23rem !important;
	height: 25rem;
	background-color: white;
	pointer-events: none;
	position: relative;
	z-index: 1;
	transition: transform 0.3s ease-out;
	box-shadow: 3px 3px 8px #ccc;
}

.session-card img {
	min-height: 8rem;
	height: 8rem;
	object-fit: cover;
}

.session-card .card-body {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	pointer-events: auto;
}

.session-card .card-title {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	max-height: 3rem;
}

.session-card .card-actions {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.card-actions .mobile-btn {
	display: none;
}

.card-actions button:not(.mobile-btn) {
	padding-top: 0.2rem !important;
	padding-bottom: 0.2rem !important;
}

.session-card .card-content {
	width: 100%;
}

.card-content .card-text {
	position: relative;
	overflow: hidden;
	height: 3rem;
	transition: height 0.3s 0.1s;
}

.card-content .card-text::after {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2.5rem;
	user-select: none;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgb(255, 255, 255) 100%
	);
}

.details-link {
	display: block;
	text-align: center;
	width: 0px;
	transition: width 0.3s ease-in-out 0.1s;
	white-space: nowrap;
}

.card-body:hover .card-text {
	height: 5rem;
}

.card-body:hover .details-link {
	width: 100%;
}

.session-card:hover {
	z-index: 2;
	transform: scale(1.18);
}

.card-actions .participate-action * {
	pointer-events: none;
}

@media screen and (max-width: 575px) {
	.card-actions > button:not(.mobile-btn),
	.card-actions .dropdown > button:not(.mobile-btn) {
		display: none;
	}

	.card-actions .mobile-btn {
		display: block;
	}
}
