{% extends 'layouts/user.html.twig' %}
{% block main  %}
	<section class="bg-home bg-gradient" id="home">
		<div class="home-center">
			<div class="home-desc-center">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 col-sm-6">
							<div class="home-title">
								<h5 class="mb-3 text-white-50">Découvrez notre plateforme Myalò !</h5>
								<h2 class="mb-4 text-white">N'hésitez pas à rejoindre notre communauté pour échanger et progresser ensemble !</h2>
								<p class="text-white-50 home-desc font-16 mb-5">Myalò est une plateforme dédiée aux étudiants curieux qui souhaitent partager leurs connaissances et gagner de l'argent de poche. Elle est également utile pour les étudiants qui rencontrent des difficultés dans certaines matières et qui cherchent de l'aide.

								</p>
								<div class="watch-video mt-5">

									<a href="https://www.facebook.com/profile.php?id=100090591443416&mibextid=LQQJ4d" class="video-play-icon text-white">
										<i class="fab fa-facebook icon-circle me-2"></i>
										<span>Visitez nous sur notre page Facebook
										</span>
									</a>
								</div>

							</div>
						</div>
						<div class="col-lg-5 offset-lg-1 col-sm-6">
							<div class="home-img mo-mt-20">
								<img src="images/logo.png" alt="" class="img-fluid mx-auto d-block">
							</div>
						</div>
					</div>
					<!-- end row -->

				</div>
				<!-- end container-fluid -->
			</div>
		</div>
	</section>
{% endblock %}
