{% extends 'layouts//admin.html.twig' %}
{% block stylesheet %}
	<style>
		#chart_container {

			display: inline-block;
			vertical-align: top;
			width: 50%;
			padding: 10px;
		}
	</style>

{% endblock %}
{% block body %}
	<div class="content-page">
		<div class="content">
			<div class="container-fluid">

				<div class="chart_container" id="chart_div">{{chartData | raw}}</div>
				<div class="chart_container" id="chart-container">{{chartDataRim | raw }}</div>

			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages': ['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
var chartData = {{ chartData | raw }};
var data = google.visualization.arrayToDataTable(chartData);
console.log(typeof(chartData))

var options = {
title: 'Niveau par année',
titleTextStyle: {
color: '#333',
fontSize: 18
},
isStacked: true,
legend: {
position: 'top',
maxLines: 3
},
vAxis: {
title: 'Nombres des utilisateurs',
titleTextStyle: {
color: '#333',
fontSize: 18
}
},
hAxis: {
title: 'Année',
titleTextStyle: {
color: '#333',
fontSize: 18
}
},
width: 700,
height: 500,
colors: ['#8294C4', '#ACB1D6', '#DBDFEA', '#FFEAD2']
};

// RIM


var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
chart.draw(data, options);
}
	</script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>

	<script>
		Highcharts.chart('chart-container', {
chart: {
type: 'pie'
},
title: {
text: 'Matière par classe '
},
series: [
{
name: 'Matière',
data: {{ chartDataRim|raw }}
}
]
});
	</script>
{% endblock %}
