

{% extends 'base.html.twig' %}



{% block body %}
    <h1>Subjects List</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for subject in subjects %}
            <div class="col mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="../assets/images/gallery/10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <p class="card-text">{{ subject.description }}</p>
                        <a href="{{ path('courses_list', {'subjectId': subject.id}) }}" class="btn btn-primary">View Courses</a>
                    </div>
                </div>
            </div>
        {% endfor %}

              


{% endblock %}


