<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Certificate of Completion</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
		<style>
			body {
				font-family: Arial, sans-serif;
				font-size: 12pt;
			}
			.container {
				max-width: 800px;
				margin: 30px auto 0;
				background-color: #fff;
				border: 2px solid #000;
				padding: 50px;
			}
			.certificate {
				background-color: #fff;
				border: 2px solid #000;
				padding: 50px;
				margin-top: 50px;
				text-align: center;
			}
			.certificate h1 {
				font-size: 24pt;
				margin-bottom: 30px;
			}
			.certificate p {
				font-size: 12pt;
				text-align: center;
			}
			.signature {
				margin-top: 10px;
			}
			.signature img {
				max-width: 200px;
			}

			.title {
				font-size: 60pt;
				text-align: center;

			}
			.name {
				font-size: 30pt;
				text-transform: capitalize;
			}

			.team {

				font-size: 12pt;
				text-align: left;
			}
			.certif-body {
				text-align: center;
			}
			.date {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="">
				<h1 class="title">Certificat</h1>
				<br>
				<div class="certif-body">
					<h3>Ce certificat est fièrement décerné à</h3>
					<h2 class="name">{{result[0].getUser().getFirstName()}}
						<span>{{result[0].getUser().getLastName()}}</span>
					</h2>
					<br>
					<h3>Pour avoir terminé le quiz de</h3>
					<h2>
						{{result[0].getTest().getCourse().getName()}}</h2>
					<br>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, sint ratione necessitatibus odio praesentium atque amet earum modi, quae minima similique totam quibusdam ipsam enim ut voluptate! Neque, maiores tenetur?
					</p>
				</div>
				<p class="date">Présenté en :</p>
				<h2 id="system-date"></h2>
				<div
					class="signature">
					{# <img src="images/signature.png" alt="Signature"> #}
					<p class="team">Bug Diggers</p>
					<p>Developpeurs de Myalo</p>
				</div>
			</div>
		</div>


		<script>
			function updateSystemDate() {
var dateElement = document.getElementById("system-date");
var formattedDate = currentDate.toLocaleDateString('fr-FR', options);
const options = {
day: '2-digit',
month: '2-digit',
year: 'numeric'
};
dateElement.innerHTML = `${formattedDate}`;
}
		</script>
	</body>
</html>
