<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <style>
    img {
      width: 200px;
      height: 50px;
    }
  </style>
  {{ image|raw }}


  <title>{{ title }}</title>
  <style>
    body {
      margin: 20px;
    }

    h1 {
      text-align: center;
    }
  </style>
  <div class="line"></div>

  <style>
    .line {
      border-top: 1px solid black;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .page-number {
      text-align: right;
      font-size: 10pt;
    }

    body {
      margin: 0;
      padding: 0;
      font-size: 12pt;
    }

    main {
      padding: 20px;
      min-height: calc(100vh - 80px);
      box-sizing: border-box;
    }

    footer {
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 10pt;
    }

    .page-number:after {
      content: counter(page);
    }

    .page-break {
      page-break-after: always;
    }
  </style>
</head>

<body>
  <h1>{{ title }}</h1>
  <p>{{ body }}</p>



  <p>


  </p>
  Exercice 1:

  <p>
  </p>
  Soit la grammaire G suivante :
  G = {S , {0,1} , S , R}
  R = {S}
  S → 11S
  S → 0
  <div>
    1. Donnez une description du langage générer par G.
    <div>
      2. Déduire un automate fini déterministe acceptant le langage générer par G. 3. En déduire une
      expression régulière dénotant le langage générer par G.
    </div>
    <p>

    </p>
    <div>
      Exercice 2 :
    </div>
    <p>
    </p>
    Soit L = {w ∈ {a, b} ∗/ w commence par a et se termine par bb }
    <div>
      1. Proposer une expression régulière dénotant L.
    </div>
    <div>
      2. Déterminer un automate fini déterministe qui reconnaît L.
    </div>


    <div>

      3. Donner une grammaire régulière G qui génère le langage L.
    </div>





    <p>

    </p>
    <div>
      Exercice 3 :
    </div>
    <p>
    </p>
    Soit L = {w ∈ {a, b} ∗/ w commence par a et se termine par bb }
    <div>
      1. Proposer une expression régulière dénotant L.
    </div>
    <div>
      2. Déterminer un automate fini déterministe qui reconnaît L.
    </div>


    <div>

      3. Donner une grammaire régulière G qui génère le langage L.
    </div>





    <p>

    </p>
    <div>
      Exercice 4:
    </div>
    <p>
    </p>
    Soit L = {w ∈ {a, b} ∗/ w commence par a et se termine par bb }
    <div>
      1. Proposer une expression régulière dénotant L.
    </div>
    <div>
      2. Déterminer un automate fini déterministe qui reconnaît L.
    </div>


    <div>

      3. Donner une grammaire régulière G qui génère le langage L.
    </div>

    <footer>
      <span class="page-number"></span>
    </footer>
    <div class="page-break"></div>


    <p>

    </p>
    <div>
      Exercice 5 :
    </div>
    <p>
    </p>
    Soit L = {w ∈ {a, b} ∗/ w commence par a et se termine par bb }
    <div>
      1. Proposer une expression régulière dénotant L.
    </div>

    <div>
      2. Déterminer un automate fini déterministe qui reconnaît L.
    </div>


    <div>

      3. Donner une grammaire régulière G qui génère le langage L.
    </div>

    <p>

    </p>
    <div>
      Exercice 6:
    </div>
    <p>
    </p>
    Soit L = {w ∈ {a, b} ∗/ w commence par a et se termine par bb }
    <div>
      1. Proposer une expression régulière dénotant L.
    </div>
    <div>
      2. Déterminer un automate fini déterministe qui reconnaît L.
    </div>


    <div>

      3. Donner une grammaire régulière G qui génère le langage L.
    </div>


    <p>

    </p>
    <div>
      Exercice 7:
    </div>
    <p>
    </p>
    Soit L = {w ∈ {a, b} ∗/ w commence par a et se termine par bb }
    <div>
      1. Proposer une expression régulière dénotant L.
    </div>
    <div>
      2. Déterminer un automate fini déterministe qui reconnaît L.
    </div>


    <div>

      3. Donner une grammaire régulière G qui génère le langage L.
    </div>
    <footer>
      <span class="page-number"></span>
    </footer>
</body>

</html>