<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="mySmallModalLabel">Confirmation !</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Veuillez confirmer votre action</p>
				<div class="d-flex mb-2 mt-4 justify-content-start">
					<button type="button" class="btn btn-success confirm-delete-btn me-2" data-bs-dismiss="modal">Confirmer</button>
					<button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
				</div>
			</div>
		</div>
	</div>
</div>
