<div id="session-form-modal" class="modal fade overflow-hidden" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<div class="w-100 d-flex align-items-start justify-content-between">
					<h4 class="modal-title display-5">Créer Séance</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
			</div>

			<div class="modal-body">


				<div class="session-form container">

					<div class="row">

						<div class="col-12 col-md-4 mb-4">
							<label for="course-select" class="form-label">Cours</label>
							<div class="input-group">
								<select id="course-select" name="course" class="form-select">
									{% for course in courses %}
										<option value="{{course.id}}">{{course.name}}</option>
									{% endfor %}
								</select>
								<span class="input-group-text">
									<i class="fas fa-book"></i>
								</span>
							</div>
							<span class="help-block">
								<small>
									Choisissez le cours de votre séance.
								</small>
							</span>
						</div>


						<div class="col-12 col-sm-6 col-md-4 mb-4">
							<label for="price-input" class="form-label">Prix</label>
							<div class="input-group">
								<input type="number" name="price" min="0" step="5" value="5" id="price-input" class="form-control"/>
								<span class="input-group-text">DT</span>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 mb-4">
							<label for="max-places-input" class="form-label">Nombre de places</label>
							<div class="input-group">
								<input type="number" name="maxPlaces" min="1" max="20" value="5" id="max-places-input" class="form-control" required/>
								<span class="input-group-text">
									<i class="fas fa-user-graduate"></i>
								</span>

							</div>
						</div>


					</div>


					<div class="row">

						<div class="col-md-6 col-lg-4 mb-4">
							<label for="dates-input" class="form-label">Dates</label>
							<div class="input-group">
								<input type="text" name="dates" id="dates-input" class="form-control flatpickr-input" placeholder="Dates des seances" readonly required>
								<span class="input-group-text">
									<i class="fas fa-calendar"></i>
								</span>
							</div>
							<span class="help-block date-helpers">
								<small class="help-text">
									Vous pouvez choisir multiples dates.
								</small>
								<small class="error-text text-danger">
									Vous devez choisir au moins une date.
								</small>
							</span>
						</div>


						<div class="col-12 col-lg-8 mb-4">
							<label for="time-input" class="form-label">Horaire
								<small class="text-muted">( 30 min minimum )</small>
							</label>

							<input type="text" name="time" class="bg-primary" id="time-input">
						</div>


					</div>

					<div class="row">

						<div class="col-12 col-md-6 mb-4">
							<label for="topics-input" class="form-label">Déscription</label>
							<textarea class="form-control" name="topics" id="topics-input" rows="4" maxlength="500" style="resize: none;"></textarea>
						</div>

						<div class="col-12 col-md-6 mb-4">
							<label for="image-input" class="form-label">Image de Couverture</label>
							<div class="image-input-wrapper">
								<input id="image-input" name="image" type="file" data-height="90" data-max-file-size="1M" data-allowed-file-extensions="png jpg jpeg" accept=".png, .jpg, .jpeg"/>
							</div>
						</div>

					</div>

					<div class="row mb-4">
						<div class="col-12">
							<label class="form-label">Resources</label>
							<div class="resources-inputs"></div>
						</div>

					</div>


				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
				<button type="button" type="submit" class="confirm-session-form btn btn-success">Confirmer</button>
			</div>

		</div>

	</div>
</div>
